In [34]:
# Import dependencies
import pandas as pd
from datetime import datetime

In [35]:
# Read in files
df_bitcoin = pd.read_csv('Resources/bitcoin_data.zip')

In [36]:
# Display initial data
df_bitcoin.head(10)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1325318220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1325318280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1325318340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1325318400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1325318460,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Drop all nulls
df = df_bitcoin.dropna()

In [38]:
# keep timestamp, high, low, weighted_price
df = df[['Timestamp', 'High', 'Low', 'Volume_(BTC)', 'Weighted_Price']]
df

          Timestamp      High       Low  Volume_(BTC)  Weighted_Price
0        1325317920      4.39      4.39      0.455581        4.390000
478      1325346600      4.39      4.39     48.000000        4.390000
547      1325350740      4.57      4.50     37.862297        4.526411
548      1325350800      4.58      4.58      9.000000        4.580000
1224     1325391360      4.58      4.58      1.502000        4.580000
...             ...       ...       ...           ...             ...
4572252  1600041360  10325.89  10324.35      0.081143    10324.419779
4572253  1600041420  10331.97  10326.68      0.572817    10331.444396
4572254  1600041480  10331.47  10321.33      2.489909    10326.175283
4572255  1600041540  10334.78  10328.64      4.572660    10333.972651
4572256  1600041600  10338.82  10332.37      1.292006    10332.429402

[3330541 rows x 5 columns]

In [39]:
# Convert timestamp
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df

,Timestamp,High,Low,Volume_(BTC),Weighted_Price
0,1970-01-01 00:00:01.325317920,4.39,4.39,0.455581,4.390000
478,1970-01-01 00:00:01.325346600,4.39,4.39,48.000000,4.390000
547,1970-01-01 00:00:01.325350740,4.57,4.50,37.862297,4.526411
548,1970-01-01 00:00:01.325350800,4.58,4.58,9.000000,4.580000
1224,1970-01-01 00:00:01.325391360,4.58,4.58,1.502000,4.580000
...,...,...,...,...,...
4572252,1970-01-01 00:00:01.600041360,10325.89,10324.35,0.081143,10324.419779
4572253,1970-01-01 00:00:01.600041420,10331.97,10326.68,0.572817,10331.444396
4572254,1970-01-01 00:00:01.600041480,10331.47,10321.33,2.489909,10326.175283
4572255,1970-01-01 00:00:01.600041540,10334.78,10328.64,4.572660,10333.972651
4572256,1970-01-01 00:00:01.600041600,10338.82,10332.37,1.292006,10332.429402

In [40]:
# Machine learning section

### PGAdmin SQL Schema

Timestamp Primary Key (string)
High float
Low float
Volume float
Weighted float